/*----------------------------------------------------------------
       ***********  C U S T O M  S T Y L E S *********
 -----------------------------------------------------------------*/
@font-face {
    font-family: Segoe;
    src: url(/fonts/Segoe_UI_Light.ttf);
}

h2 {
  font-family: Segoe, Arial;
}


h2 {
  text-transform: uppercase;
}


/*------------------ N A V I G A T I O N -------------------------*/
.nav > li > a {
    padding: 7px 15px;
}

.icon-mobile-menu,
.fa-times {
  display: none;
}



.nav-pills {
  a {
    color: $gray-light;
    font-weight: bold;
    text-transform: uppercase;
    &:hover {
      background-color: rgba(255, 255, 255, 0) !important;
      border-radius: 0;
      border: solid 2px $brand-primary;
      color: $brand-primary;
      padding: 5px 13px;

    }
    &:active {
      background-color: rgba(255, 255, 255, 0) !important;
      color: $brand-primary;
      border-radius: 0;
      border: solid 2px $brand-primary;
    }
  }
}

//CONTAINER FOR NAVIGATION
.background-nav {
  background-color: rgba(70, 80, 87, 0.8);
  position: fixed;
  z-index: 2;
}

//BRAND BLOCK
#block-silver-branding {
  display: inline-block;
  margin: 3% 0;
  width: 33.33333333%;
  float: left;
}

//MENU BLOCK
#block-silver-main-menu {
  display: inline-block;
  margin: 3% 0;
}


//CONTAINER FOR MOBILE NAV HIDDEN
#site-menu {
  display: inline;
}

/*------------------ M E D I A  Q U E R I E S -------------------------*/

@media (max-width: 768px){

  .nav-pills {
    li {
      display: block;
      float: none;
      padding: 5% 0;
    }
  }

  .fa-times {
    color: #fff;
    display: inline;
  }

  .icon-mobile-menu {
    color: #fff;
    display: inline;
    vertical-align: middle;
    }

  #block-silver-main-menu {
    width: 100%;
  }

  #block-silver-branding {
    width: 75%;
  }

  #site-wrapper {
    background: #428bca;
    height: 5000px; /* Temp: Simulates a tall page. */
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  #site-canvas {
    height: 100%;
    position: relative;
    width: 100%;

    -webkit-transform: translateX(0);
    transform: translateX(0);

    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);

    -webkit-transition: 300ms ease all;
    transition: 300ms ease all;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    //padding: 5% 0; /* Temp: Just spacing. */
  }

  .show-nav #site-canvas {
    -webkit-transform: translateX(300px);
    transform: translateX(300px);

    -webkit-transform: translate3d(300px, 0, 0);
    transform: translate3d(300px, 0, 0);
  }

  #site-menu {
    background: #428bca;
    height: 100%;
    left: -300px;
    padding: 15px;
    position: absolute;
    top: 0;
    width: 300px;
  }
  /* Just styles... Not relevant to demo */

  #big-sexy {
    display: block;
    font-size: 40px;
    font-weight: 300;
    margin: 0 auto;
    width: 300px;
  }
}


/*------------------ S O C I A L   M E D I A  -------------------------*/

#block-twitter {
  background: rgb(71, 201, 253) none repeat scroll 0% 0%;
  padding: 2%;
  height: 300px;
  h2 {
    color: white;
    font-size: 3rem;
    margin-bottom: 3%;
    @media screen and (max-width: 768px){
      margin-left: 2%;
    }
  }
  img {
    width: 32px;
    @media screen and (max-width: 768px){
      margin: 0 auto;
    }
  }
  p {
    color: white;
    font-size: 2rem;
    margin: 1% 0;
    @media screen and (max-width: 768px){
      margin: 6% 0;
    }
  }
}


/*------------------ T E S T I M O N I A L S  -------------------------*/

#block-views-block-testimonials-slider-block-1 {
  background: #fff;
  height: auto;

  .swiper-slide {
    margin: 35px 0;
    text-align: left;
  }
}

.testimonials-person-name {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
  }

.testimonials-main-title {
  margin-top:  6%;
  //margin-bottom: 2%;
}


/*------------------  V I D E O  S E C T I O N   -------------------------*/

.video-section-container {
  background-color: $gray-darker;
  padding: 6% 0;
}

#block-segundaprueba {
  h2 {
    color: #fff;
  }
  p {
    color: #fff;
    font-size: 1.8rem;
    margin: 1% 0;
  }
}

.video-wrapper {
    height: 300px;
  @media screen and (max-width: 768px){
    margin: 5% 0px;
  }
  iframe {
    height: 100%;
    width: 100%;
    @media screen and (max-width: 768px){
      height: 100%;
    }
  }
}

.text-intro-video {
  @media screen and (max-width: 768px){
    padding: 2%;
  }
  a {
    border: solid 2px rgba(0, 0, 0, 0.78);
    color: rgba(0, 0, 0, 0.78);
    font-size: 1.4rem;
    font-weight: bold;
    padding: 3% 6%;
    text-transform: uppercase;
    &:hover {
      border: solid 2px $brand-primary;
      color: $brand-primary;
      text-decoration: none; 
    }
  }
}

/*--------------   S E R V I C E S   S E C T I O N   --------------------*/

.services-container {
  background-color: rgb(71, 201, 253);

   h2 {
    color: #fff;
    margin-top: 22%; 
    text-align: center;
  }
  p {
    color: #fff;
    //font-size: 2rem;
    margin: 11% 0;
  }

  img {
    margin: 0 auto;
  }
}